body {
  font-size: 1.25em;
  text-align: center;
  margin: 20px;
}

h1 {
  font-size: 1.7rem;
}

h2 {

}

img {
    max-width: 100%;
}

figure {
    margin: 0;
    padding: 20px 0;
}

@media screen and (min-width: 800px) {
  body {
    background-color: brown;
    font-size: 1.75em;
    margin: 40px;
  }
}