h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}

ul {
    background-color: brown;
}

.modify-background {
    background-color: blueviolet;
}

p {
    font-weight: 600;
    font-size: 3em;
}

body {
    font-size: 16px;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.brown {
    background-color: brown;
}
