h1 {
  text-align: center;
}

ul {
  text-align: center;
}

ul li {
  list-style-type: none;
}

.content h3 {
  text-align: center;
}

.prizes li {
  display: inline;
}

.first {
  background-color: rgb(235, 200, 84);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 200px;
  display: block;
  position: relative;
  left: 675px;
}

.second {
  background-color: rgb(219, 219, 219);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 300px;
  display: inline-block;
  position: relative;
}

.third {
  background-color: rgb(170, 142, 106);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 300px;
  display: inline-block;
  position: relative;
}
